<%- include('cabecera'); %>
<div class="text-center">
    <h1>Mi Casa</h1>
    <legend class="text-center">Encuentra tu hogar</legend>
</div>
<div class="text-center">
    <img src="/uploads/imagenCasa.jpg" alt="">
</div>
<%- include('pie'); %>